body {
	color: #545454;
	font-family: myriad;
	font-size: 16px;
	letter-spacing: 0.3px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body.isSearching {
	overflow: hidden;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
	color: #545454;
	font-family: Avenir;
	font-weight: lighter;
}

a p,
h2.section-header {
	color: #545454;
}

a {
	text-decoration: none;
}
a.primary {
	color: #5928e5;
	text-decoration: underline;
}

.scrollspy-list {
	list-style-type: none;
}

.scrollspy-link {
	color: #545454;
	text-decoration: none;
	margin-top: 12px;
}
.scrollspy-link:hover,
.scrollspy-link.active,
.colored-span,
a span,
.share-links a:hover,
a:hover {
	color: #5928e5 !important;
}

p a:hover {
	text-decoration: underline;
}

a {
	color: #4273d4;
}

.card {
	border-radius: 3px;
}

.card-secondary {
	background-color: #f9f9f9;
	border: none;
}
.main-me-img {
	max-height: 300px;
	width: 100%;
	object-fit: cover;
}

.btn {
	border-radius: 0;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	color: #545454;
}
.btn-primary {
	background-color: #5928e5;
	color: #f1f1f1;
}
.btn:hover {
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	color: #5928e5;
}

.container {
	width: 80%;
	max-width: 1080px;
	margin: auto;
}

.container-content {
	max-width: 670px;
	margin: 0 auto;
}

blockquote {
	border-left: 5px solid #5928e5;
	color: #545454;
	margin: 1em 10px;
	padding: 1rem 2rem;
	line-height: 1.8rem;
	font-size: 18px;
	quotes: '\201C''\201D''\2018''\2019';
}
blockquote p {
	display: inline;
}

.scrollspy-example-collapsible {
	position: relative;
	height: 200px;
	overflow: auto;
}

#character-canvas {
	z-index: 9999;
	position: fixed;
	pointer-events: none;
	inset: 0;
	background-color: transparent;
}

/* Tutorial Page */
.share-links a,
.share-links a:visited {
	color: #545454;
	text-decoration: none;
}

.navbar {
	border-bottom: 5px solid #e4e4e4;
}

.simple-list-example-scrollspy h6 {
	color: #ababab;
}

.scrollspy-list > li {
	margin-top: 8px;
}

.toolbar {
	margin-top: 0.5em;
	top: 0 !important;
}
.copy-to-clipboard-button {
	background-color: #5928e5 !important;
	margin-right: 15px;
	margin-top: 0.5em !important;
	border-radius: 0 !important;
	padding: 5px 10px !important;
}
.copy-to-clipboard-button span {
	content: '\F290';
	color: #ffffff !important;
}
.code-toolbar {
	margin-bottom: 20px;
}

ol.breadcrumb {
	font-size: 14px;
}

.project-card-img {
	max-height: 200px;
	width: 100%;
	object-fit: cover;
}
.tutorial-content iframe {
	width: 100%;
	height: 600px;
}
.navbar-toggler {
	border-radius: 0;
}
.info-banner {
	background-color: #d44242;
	color: #f1f1f1;
	line-height: 16px;
}
.info-banner small {
	max-width: 80vw;
}
.card-tutorial {
	border-left: 5px solid #5928e5 !important;
}

#search-window {
	background-color: #d7d7d7aa;
	inset: 0;
	position: absolute;
	z-index: 9999999;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: none;
	justify-content: center;
	align-items: center;
}

#search-window.show {
	display: flex;
}

#search-wrapper {
	background-color: #f1f1f1;
	display: flex;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
#search-wrapper #input-wrapper {
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 1rem;
}
#input-wrapper i.bi-search {
	margin-right: 10px;
}
#input-wrapper i.bi-info-circle-fill {
	margin-left: 10px;
}
#search-wrapper input {
	background-color: #f1f1f1;
	border: none;
	width: 30vw;
	outline: none;
}
