<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./assets/styles/fonts.css" />
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="./assets/styles/bootstrap-overrides.css" />
		<link rel="stylesheet" href="./assets/styles/breakpoints.css" />
	</head>
	<body>
		<!-- CANVAS CHARACTER -->
		<canvas id="character-canvas"></canvas>
		<!-- NAV SECTION -->
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container container-small">
				<a class="navbar-brand" href="index.html">Aaron Soto</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarTogglerDemo02"
					aria-controls="navbarTogglerDemo02"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/index.html"
								>Home</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="tutorial.html"
								>Tutorial</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="about.html"
								>About</a
							>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="bi bi-search"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAV SECTION -->

		<div class="container container-small my-5">
			<img
				src="./assets/images/IMG_2758 (1).jpg"
				style="max-height: 400px; object-fit: contain"
				alt=""
				class="mx-auto"
			/>
		</div>

		<div class="container container-small my-5">
			<div class="row">
				<span class="colored-span">Oct 2022</span>
				<h1>This is a Post of some sort</h1>
				<p>
					This is a short description about the post that is to follow. Just
					give a brief overview of what the user is about to read .
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
					eligendi natus magni totam recusandae illo, dolore porro ipsam odit
					sequi? Illo voluptatum, obcaecati accusantium saepe consequatur aut
					ad? Sunt, vitae? Veniam facere quae reprehenderit commodi!
					Perspiciatis earum nisi molestiae soluta itaque laboriosam aliquid
					minus illum?
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
					voluptates ducimus ad, atque praesentium, at esse rem error animi
					natus et repellendus autem. In fugit cum temporibus omnis placeat. A
					corporis dicta ipsa, minus optio suscipit est quae, obcaecati, quod
					magni autem dolores sit? Ad ullam debitis eos. Molestias, doloremque.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
					dolores consequatur assumenda itaque nulla eos exercitationem debitis
					ducimus voluptas provident in magni accusamus omnis voluptatibus.
					Pariatur culpa distinctio possimus debitis mollitia iste dolores
					excepturi eius. Voluptatem quod ipsam distinctio nostrum molestias,
					tempora est provident architecto hic alias pariatur vel aperiam amet
					iure minus quia quo numquam ipsum voluptatum. Optio commodi autem,
					ullam, expedita minus ratione at nesciunt temporibus provident sequi
					harum tempore, natus vel in.
				</p>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto facere
					sint porro tempora, recusandae voluptatibus dolores. Ipsum illum
					aspernatur culpa nihil cupiditate quis, quia at quidem reiciendis
					itaque? Voluptatum vero omnis beatae rem? Esse, architecto.
				</p>
			</div>
		</div>

		<div class="container container-small">
			<h3>Similar Posts</h3>
			<div class="row d-flex justify-content-between">
				<div class="col-md-6">
					<a href="post.html">
						<div class="card">
							<div class="card-body">
								<span class="colored-span">September 05, 2022</span>
								<h5 class="card-title mt-2 fw-bold">
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
								</h5>
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
									omnis ipsa! Sint.
								</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="post.html">
						<div class="card">
							<div class="card-body">
								<span class="colored-span">September 05, 2022</span>
								<h5 class="card-title mt-2 fw-bold">
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
								</h5>
								<p class="card-text">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
									omnis ipsa! Sint.
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- FOOTER SECTION -->

		<footer class="bg-light text-center mt-5">
			<!-- Grid container -->
			<div class="container p-4 pb-0">
				<!-- Section: Form -->
				<section class="">
					<form action="">
						<!--Grid row-->
						<div class="row d-flex justify-content-center">
							<!--Grid column-->
							<div class="col-auto">
								<p class="pt-2">
									<strong>Sign up for our newsletter</strong>
								</p>
							</div>
							<!--Grid column-->

							<!--Grid column-->
							<div class="col-md-5 col-12">
								<!-- Email input -->
								<div class="form-outline mb-4">
									<input
										type="email"
										id="form5Example27"
										class="form-control"
									/>
									<label class="form-label" for="form5Example27"
										>Email address</label
									>
								</div>
							</div>
							<!--Grid column-->

							<!--Grid column-->
							<div class="col-auto">
								<!-- Submit button -->
								<button type="submit" class="btn btn-primary mb-4">
									Subscribe
								</button>
							</div>
							<!--Grid column-->
						</div>
						<!--Grid row-->
					</form>
				</section>
				<!-- Section: Form -->
			</div>
			<!-- Grid container -->

			<div class="container container-medium pb-4">
				<span>Local Time in Arizona:</span>
				<span id="clock"></span>
			</div>

			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
				© 2022 Copyright:
				<a class="text-dark" href="https://aaronsoto.io">aaronsoto.io</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- END FOOTER SECTION -->

		<!-- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"
		></script>
		<script src="index.js"></script>
	</body>
</html>
